/*HOME PAGE*/
section.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


button.btn-turquesa {
    font-family: 'Inter', sans-serif;
    background-color: #2f3132;
    color: #00ead0;
    font-weight: bold;
}

button.btn-yellow {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background-color: #2f3132;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1.5rem;
}

button.btn-yellow:hover {
    background-color: #2f3132;
    color: #dcfd00;
}

/* Service Icons */
.service-icons {
    width: 40px;
}

/*Seccion About Us*/
.light-grey {
    background-color: #f4f4f4;
}

div.col-about {
    margin-bottom: 100px;
}

img.about {
    display: flex;
    margin: auto;
    width: 125px;
}

h2.name {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-top: 25px;
}

h3.subtitle-grey {
    color: #697172;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

p.about {
    font-family: 'Inter', sans-serif;
    padding-top: 10px;
}

/* Section Reviews */
.reviews-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}

.review-element {
    box-shadow: 0 0 0 1px rgba(255, 255, 255 ,10%) inset,0 0 20px 2px #0000000d;
    padding: 1.5rem;
    border-radius: 6px;
}

.review-element:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1.01);
    box-shadow: 0 0 0 1px rgba(255, 255, 255 ,10%) inset,20px 20px 20px 20px #0000000d;
}

.limited-text-horizontal {
    height: 200px;
    /* Ancho máximo del párrafo */
    white-space: nowrap;
    /* Evita el salto de línea */
    overflow: hidden;
    /* Oculta el texto que excede el ancho */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos (...) */
}

.limited-text-vertical {
    max-height: 120px; /* Altura máxima del párrafo */
    overflow: hidden; /* Oculta el contenido que excede la altura */
}

.stars-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.star-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-image: url('../img/icons/estrella.png');
    /* Reemplaza con la URL de tu imagen de estrella */
    background-size: cover;
}
img.g-review {
    width: 200px;
}
.text-review {
    font-size: 12px;
    line-height: 1.4em;
}

/*Section Container*/
.section-padding {
    padding: 50px 50px;
}

/* Lefleat Map*/
#map { 
	height: 75vh;
    z-index: 1;
}
.leaflet-popup-content {
    width: 275px;
}
.logo-map {
    width: 100px;
}
.text-map {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 1.4em;
}

.left-title {
    text-align: left;
    font-weight: 900;
    font-size: 36px;
}

div.grid-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

div.tool-item {
    display: flex;
    justify-content: center;
}

img.tool-item {
    max-width: 60%;
    border-radius: 4px;
}


/*Seccion Proyectos*/
section.proyectos {
    height: 100%;
    background-color: #f4f4f4;
}

ul.filter-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stroke-text {
    font-size: 96px;
    color: white; /* Color del texto */
    -webkit-text-fill-color: transparent; /* Relleno transparente */
    -webkit-text-stroke-width: 1px; /* Ancho del trazo */
    -webkit-text-stroke-color: #2f3132; /* Color del trazo */
    font-family: 'Rubik', sans-serif;
    transition: all 0.3s ease;
  }
  .stroke-text:hover {
    transform: scale(1.05);
  }

div.row-isotope {
    margin: 25px 0 0 0;
}

div.grid-item {
    margin-bottom: 20px;
}

button.filter-button {
    margin: 5px 5px;
}

img.img-item {
    border-radius: 4px;
}

h2.project-title {
    font-size: 22px;
    padding: 10px 0 0 0 !important;
    text-align: left;
    color: #222222;
}

h3.project-location {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: rgba(34, 34, 34, 0.8);
}

p.project-extract {
    font-size: 12px;
    text-align: left;
    color: #222222;
    font-weight: 400;
}

/* Section Clients Grid Logos*/
.logos-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 35px;
    width: 100%;
    margin: auto;
}

/* Grid Partners */
.logos-partner {
    grid-template-columns: repeat(8, 1fr);
}

.logo-item img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s linear;
}

.logo-item img:hover {
    filter: grayscale(0%);
}

.logo-partner {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.3s linear;
}
.logo-partner:hover {
    transition: 0.3s all;
    transform: scale(1.1);
    filter: grayscale(0%);
}

.logo-client {
}
.logo-client:hover {
    transform: scale(1.1);
    transition: 0.3s all;
}



/* Whatsapp Floating Button */
.floating-wsp {
    width: 60px;
    height: 60px;
    opacity: 0.5;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 120;
    transition: all 0.6s cubic-bezier(0.68, 0.01, 0.22, 0.99);
}

.floating-wsp:hover {
    opacity: 1;
}


@media screen and (max-width: 768px) {
    .logos-grid {
        grid-template-columns: repeat(6, 1fr) !important;
        width: 100%;
    }
    div.grid-tools {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .logos-partner {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    div.grid-tools {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    #hero {
        font-size: 22px;
    }
    ul.filter-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .left-title {
        font-size: 28px;
    }
    .stroke-text {
        font-size: 48px !important;
      }

}

@media (max-width: 1200px) {
    .section-padding {
        padding: 50px 15px;
    }
}

@media screen and (max-width: 1400px) {
    .logos-grid {
        grid-template-columns: repeat(6, 1fr);
        width: 100%;
    }
}

@media (min-width: 1200px) {
    div.col-about {
        padding: 0 125px;
    }
}
