@import "particles";
@import "header";
@import "home";

/*Global Styles*/
html {
	height: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	scroll-padding-top: 25px;
	font-size: 10px;
}
body {
	font-size: 16px;
	font-family: 'Hong Bold', sans-serif;
	font-weight: 300;
	color: #2f3132;
	background-color: #fff;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, p, ul {
	font-family: 'Rubik', sans-serif;
    color: #2f3132;
	padding: 0;
	margin: 0;
	text-align: center;
}

h1 {
	font-size: 3.4rem;
}

ul, li {
	list-style: none;
}
p {
	font-size: 1.4rem;
	color: #2f3132;
	line-height: 24px;
}

p.left {
	text-align: left;
}

a,button {
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a:hover {
	text-decoration: none;
}
.margin-t-10 {
	margin-top: 10px;
}
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.it {
	font-style: italic;
}
.tc {
	text-align: center;
}
.tr {
	text-align: right;
}
.tl {
	text-align: left;
}
.tt {
	text-transform: uppercase;
}
.upp {
	text-transform: uppercase;
}
.mbot50 {
	margin-bottom: 50px !important;
}
.pbot60 {
	padding-bottom: 60px;
}


