@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
canvas {
  display: block;
  vertical-align: bottom; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1; }

/* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold; }

.js-count-particles {
  font-size: 1.1em; }

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px; }

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden; }

.count-particles {
  border-radius: 0 0 3px 3px; }

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 0 50px; }

@media (max-width: 768px) {
  .wrapper {
    padding: 0 15px !important; } }

.main {
  padding-top: 90px;
  display: block;
  width: 100%;
  clear: both;
  overflow: hidden; }

header {
  width: 100%;
  display: block;
  background: #fff;
  padding: 30px 0;
  overflow: visible;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.styk header {
  position: fixed;
  z-index: 999999;
  top: 0; }

.styk.open header {
  padding: 10px 0;
  /*background: rgba(0,0,0,0.7);*/
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1); }

header.open {
  position: fixed;
  top: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 0; }

header .logo {
  float: left;
  width: 140px; }

header .logo img {
  display: block;
  max-width: 100%; }

.styk.open header .logo {
  width: 120px; }

.menu-nav {
  float: right;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

/*.styk.open .menu-nav {
    margin: -15px 0 0 0;
}*/
.menu-nav .menu {
  text-align: right;
  position: relative; }

.menu-nav .menu li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0;
  padding: 0; }

.menu-nav .menu li:last-child {
  border-right: none;
  padding-right: 0; }

.menu-nav .menu li a {
  font-family: 'Rubik', sans-serif;
  color: #222222;
  display: inline-block;
  position: relative;
  font-size: 18px;
  margin: 0 20px;
  line-height: 24px;
  font-weight: 700; }

.menu-nav .menu li a:hover,
.menu-nav .menu li a.open,
.menu-nav .menu li a.active {
  text-decoration: none; }

a.underline {
  display: inline-block;
  position: relative;
  color: #444;
  font-size: 4em;
  font-weight: 700; }

a.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 234, 208, 0.3);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
  z-index: -1; }

a.underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; }

@media (min-width: 1024px) {
  .menu-nav .menu li.igmenu {
    margin-left: 100px; }
  .menu-nav .menu li a.active {
    position: absolute;
    left: -300px;
    top: 0; }
  .menu-nav .menu li:last-child a {
    margin: 0; } }

@media (min-width: 1200px) {
  .menu-nav .menu li a.active {
    left: -600px; } }

@media (min-width: 1380px) {
  .menu-nav .menu li.igmenu {
    margin-left: 200px; }
  .menu-nav .menu li a.active {
    position: absolute;
    left: -600px;
    top: 0; } }

@media (min-width: 1650px) {
  .menu-nav .menu li a.active {
    left: -818px; } }

/**** styky ****/
.stiky {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 0;
  overflow: hidden;
  position: fixed;
  opacity: 0.5;
  top: 0;
  z-index: 99;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.stiky.open {
  opacity: 1;
  height: 70px; }

@media (max-width: 1023px) {
  .hamburger {
    display: block;
    position: fixed;
    top: 15px;
    right: 10px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 99999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .hamburger .hamburger-inner {
    position: relative;
    height: 20px;
    width: 30px;
    display: block;
    margin: 0;
    padding: 0; }
  .hamburger .bar {
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .hamburger.open .bar {
    background: #000; }
  .hamburger .bar.bar2, .hamburger .bar.bar3 {
    top: 7px;
    transform: matrix(0.99999, 0, 0, 0.99999, 0, 0); }
  .hamburger .bar.bar4 {
    top: 14px; }
  .hamburger.open .bar1, .hamburger.open .bar4 {
    opacity: 0; }
  .hamburger.open .bar1 {
    height: 3px;
    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0); }
  .hamburger.open .bar2 {
    height: 3px;
    transform: matrix(0.7071, 0.7071, -0.7071, 0.7071, 0, 0); }
  .hamburger.open .bar3 {
    height: 3px;
    transform: matrix(0.7071, -0.7071, 0.7071, 0.7071, 0, 0); }
  .main {
    padding-top: 49px; }
  header {
    overflow: visible;
    padding: 10px 0 !important;
    position: fixed;
    height: 49px !important;
    top: 0 !important; }
  .styk.open header {
    padding: 10px 0; }
  header .logo {
    width: 120px; }
  header .logo img {
    display: block;
    width: 100%; }
  .menu-nav {
    background: #fff none repeat scroll 0 0;
    display: block;
    float: none;
    margin: 0;
    position: fixed;
    top: 49px;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: 9;
    opacity: 0;
    overflow: hidden;
    height: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .menu-nav.open {
    height: 250px;
    opacity: 1; }
  .menu-nav .menu {
    text-align: center;
    margin-top: 40px; }
  .menu-nav .menu li {
    display: block;
    text-align: left;
    margin: 15px 0;
    border: none; }
  .menu-nav .menu li:last-child {
    padding-right: 20px; }
  .menu-nav .menu li a {
    padding-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700; } }

.circletype-container {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999 !important; }

#circletype {
  position: fixed;
  top: 8px;
  left: 0px;
  width: 75px;
  font-size: 6px;
  font-weight: 600;
  z-index: 999999 !important; }

/*HOME PAGE*/
section.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

button.btn-turquesa {
  font-family: 'Inter', sans-serif;
  background-color: #2f3132;
  color: #00ead0;
  font-weight: bold; }

button.btn-yellow {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: #fff;
  background-color: #2f3132;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1.5rem; }

button.btn-yellow:hover {
  background-color: #2f3132;
  color: #dcfd00; }

/* Service Icons */
.service-icons {
  width: 40px; }

/*Seccion About Us*/
.light-grey {
  background-color: #f4f4f4; }

div.col-about {
  margin-bottom: 100px; }

img.about {
  display: flex;
  margin: auto;
  width: 125px; }

h2.name {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-top: 25px; }

h3.subtitle-grey {
  color: #697172;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  padding-top: 10px; }

p.about {
  font-family: 'Inter', sans-serif;
  padding-top: 10px; }

/* Section Reviews */
.reviews-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px; }

.review-element {
  box-shadow: 0 0 0 1px white inset, 0 0 20px 2px #0000000d;
  padding: 1.5rem;
  border-radius: 6px; }

.review-element:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1.01);
  box-shadow: 0 0 0 1px white inset, 20px 20px 20px 20px #0000000d; }

.limited-text-horizontal {
  height: 200px;
  /* Ancho máximo del párrafo */
  white-space: nowrap;
  /* Evita el salto de línea */
  overflow: hidden;
  /* Oculta el texto que excede el ancho */
  text-overflow: ellipsis;
  /* Muestra puntos suspensivos (...) */ }

.limited-text-vertical {
  max-height: 120px;
  /* Altura máxima del párrafo */
  overflow: hidden;
  /* Oculta el contenido que excede la altura */ }

.stars-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px; }

.star-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../img/icons/estrella.png");
  /* Reemplaza con la URL de tu imagen de estrella */
  background-size: cover; }

img.g-review {
  width: 200px; }

.text-review {
  font-size: 12px;
  line-height: 1.4em; }

/*Section Container*/
.section-padding {
  padding: 50px 50px; }

/* Lefleat Map*/
#map {
  height: 75vh; }

.leaflet-popup-content {
  width: 275px; }

.logo-map {
  width: 100px; }

.text-map {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 1.4em; }

.left-title {
  text-align: left;
  font-weight: 900;
  font-size: 36px; }

div.grid-tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 50px; }

div.tool-item {
  display: flex;
  justify-content: center; }

img.tool-item {
  max-width: 60%;
  border-radius: 4px; }

/*Seccion Proyectos*/
section.proyectos {
  height: 100%;
  background-color: #f4f4f4; }

ul.filter-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }

.stroke-text {
  font-size: 96px;
  color: white;
  /* Color del texto */
  -webkit-text-fill-color: transparent;
  /* Relleno transparente */
  -webkit-text-stroke-width: 1px;
  /* Ancho del trazo */
  -webkit-text-stroke-color: #2f3132;
  /* Color del trazo */
  font-family: 'Rubik', sans-serif;
  transition: all 0.3s ease; }

.stroke-text:hover {
  transform: scale(1.05); }

div.row-isotope {
  margin: 25px 0 0 0; }

div.grid-item {
  margin-bottom: 20px; }

button.filter-button {
  margin: 5px 5px; }

img.img-item {
  border-radius: 4px; }

h2.project-title {
  font-size: 22px;
  padding: 10px 0 0 0 !important;
  text-align: left;
  color: #222222; }

h3.project-location {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: rgba(34, 34, 34, 0.8); }

p.project-extract {
  font-size: 12px;
  text-align: left;
  color: #222222;
  font-weight: 400; }

/* Section Clients Grid Logos*/
.logos-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 35px;
  width: 100%;
  margin: auto; }

/* Grid Partners */
.logos-partner {
  grid-template-columns: repeat(8, 1fr); }

.logo-item img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s linear; }

.logo-item img:hover {
  filter: grayscale(0%); }

.logo-partner {
  display: block;
  width: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s linear; }

.logo-partner:hover {
  transition: 0.3s all;
  transform: scale(1.1);
  filter: grayscale(0%); }

.logo-client:hover {
  transform: scale(1.1);
  transition: 0.3s all; }

/* Whatsapp Floating Button */
.floating-wsp {
  width: 60px;
  height: 60px;
  opacity: 0.5;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 120;
  transition: all 0.6s cubic-bezier(0.68, 0.01, 0.22, 0.99); }

.floating-wsp:hover {
  opacity: 1; }

@media screen and (max-width: 768px) {
  .logos-grid {
    grid-template-columns: repeat(6, 1fr) !important;
    width: 100%; }
  div.grid-tools {
    grid-template-columns: 1fr 1fr 1fr; }
  .logos-partner {
    grid-template-columns: repeat(4, 1fr) !important; } }

@media (min-width: 768px) and (max-width: 1199.98px) {
  div.grid-tools {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; } }

@media (max-width: 1024px) {
  #hero {
    font-size: 22px; }
  ul.filter-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .left-title {
    font-size: 28px; }
  .stroke-text {
    font-size: 48px !important; } }

@media (max-width: 1200px) {
  .section-padding {
    padding: 50px 15px; } }

@media screen and (max-width: 1400px) {
  .logos-grid {
    grid-template-columns: repeat(6, 1fr);
    width: 100%; } }

@media (min-width: 1200px) {
  div.col-about {
    padding: 0 125px; } }

.form-floating {
  color: #51555b;
  font-family: 'Inter', sans-serif;
  font-weight: 600 !important;
  font-size: 12px; }

.social-icons {
  width: 25px;
  margin-right: 10px;
  transition: all 0.5s ease; }

.social-icons:hover {
  scale: 1.1; }

.alert {
  font-family: 'Rubik', sans-serif !important; }

/*Global Styles*/
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  scroll-padding-top: 25px;
  font-size: 10px; }

body {
  font-size: 16px;
  font-weight: 300;
  color: #2f3132;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

.grecaptcha-badge {
  position: fixed;
  bottom: 10% !important;
  z-index: 999999; }

h1, h2, h3, h4, h5, h6, p, ul {
  font-family: 'Inter', sans-serif;
  color: #2f3132;
  padding: 0;
  margin: 0; }

.padding-bottom-24 {
  padding-bottom: 25px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.padding-bottom-100 {
  padding-bottom: 100px; }

.padding-top-100 {
  padding-top: 100px; }

.padding-rigth-75 {
  padding-right: 75px; }

.floating-item {
  animation: floating 3s infinite ease-in-out; }

@keyframes floating {
  0% {
    transform: translate(0, 5px); }
  25% {
    transform: translate(0, 10px); }
  50% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0); } }

@media (max-width: 768px) {
  .padding-rigth-75 {
    padding-right: 0 !important; } }

.underline span {
  z-index: 1;
  position: relative; }

.underline span:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: -5px;
  width: calc(100% + 10px);
  height: 15px;
  z-index: -1;
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); }

a {
  text-decoration: none !important; }

h1 {
  font-size: 3.4rem; }

ul, li {
  list-style: none; }

ol, ul {
  padding-left: 0 !important; }

p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #51555b;
  line-height: 24px; }

p.left {
  text-align: left; }

a, button {
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a:hover {
  text-decoration: none; }

.margin-t-10 {
  margin-top: 10px; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.it {
  font-style: italic; }

.tc {
  text-align: center; }

.tr {
  text-align: right; }

.tl {
  text-align: left; }

.tt {
  text-transform: uppercase; }

.upp {
  text-transform: uppercase; }

.mbot50 {
  margin-bottom: 50px !important; }

.pbot60 {
  padding-bottom: 60px; }

article {
  padding: 1.5rem;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); }

article:hover {
  transform: scale(1.02);
  transition: 0.3s all; }
